<app-sliderbar></app-sliderbar>

<div class="container p-3" style="max-width: 96%;">
    <div class="d-flex justify-content-between">
        <h4>Area</h4>
        <button class="btn btn-primary btn-sm" data-bs-target="#myModal" (click)="openModal()">Add</button>
    </div>

    <!-- search table -->
    <div class="border border-dark rounded-2 my-3 p-3">
        <div class="row g-3">
            <!-- Area Id -->
            <div class="col-md-3 col-sm-6">
                <div class="d-flex align-items-center">
                    <label class="form-label mb-0" style="min-width: 120px;">Area Id</label>
                    <input type="number" [(ngModel)]="searchCriteria.areaId" class="form-control" placeholder="Area Id">
                </div>
            </div>

            <!-- Area Code -->
            <div class="col-md-3 col-sm-6">
                <div class="d-flex align-items-center">
                    <label class="form-label mb-0" style="min-width: 120px;">PinCode</label>
                    <input type="text" [(ngModel)]="searchCriteria.pinCode" class="form-control"
                        placeholder="PinCode">
                </div>
            </div>

            <!-- Area Name -->
            <div class="col-md-3 col-sm-6">
                <div class="d-flex align-items-center">
                    <label class="form-label mb-0" style="min-width: 120px;">Area Name</label>
                    <input type="text" [(ngModel)]="searchCriteria.areaName" class="form-control"
                        placeholder="Area Name">
                </div>
            </div>

            <!-- Status -->
            <div class="col-md-3 col-sm-6">
                <div class="d-flex align-items-center">
                    <label class="form-label mb-0" style="min-width: 120px;">Status</label>
                    <select class="form-select" [(ngModel)]="searchCriteria.isActive">
                        <option [ngValue]="null">All</option>
                        <option [ngValue]="true">Active</option>
                        <option [ngValue]="false">Inactive</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Button Row -->
        <div class="row mt-3">
            <div class="col d-flex justify-content-end gap-2">
                <button class="btn btn-primary" (click)="getAreas()">Search</button>
                <button class="btn btn-danger" (click)="clearSearch()">Clear</button>
            </div>
        </div>
    </div>
</div>

<!-- show data table -->
<div class="container my-3 p-3" style="max-width: 96%;">
    <div class="border border-dark rounded-2" *ngIf="searchClick">
        <div class="table-responsive">
            <table class="table table-borderless table-striped text-center" *ngIf="areaList.length > 0; else noData">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Area Id</th>
                        <th>PinCode</th>
                        <th>Area Name</th>
                        <th>City</th>
                        <th>IsActive</th>
                        <th>IsAction</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let area of areaList; let index = index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ area.areaId }}</td>
                        <td>{{ area.pinCode }}</td>
                        <td>{{ area.areaName }}</td>
                        <td>{{ area.cityName }}</td>
                        <td>{{ area.isActive ? 'Active' : 'Inactive' }}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" (click)="onEdit(area.areaId)">&#9998;</button> ||
                            <button class="btn btn-danger btn-sm" *ngIf="area.isActive" (click)="onDelete(area.areaId)">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <button class="btn btn-success btn-sm" *ngIf="!area.isActive"
                                (click)="onDelete(area.areaId)">
                                <i class="fa-solid fa-check"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- No data found -->
            <ng-template #noData>
                <div class="text-center text-danger fw-bold p-3" style="background-color: #f1f1f1">No data found.</div>
            </ng-template>
        </div>
    </div>
</div>

<!-- Add / Edit Modal -->
<div class="modal fade" id="myModal" tabindex="-1" #myModal>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{ isEditModal ? 'Edit' : 'Add' }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
            </div>

            <form [formGroup]="areaForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Area Id</td>
                                    <td><input type="number" class="form-control" formControlName="AreaId"
                                            placeholder="Area Id"></td>
                                </tr>
                                <tr>
                                    <td>PinCode</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Pin Code"
                                            (input)="onInputChange()" formControlName="PinCode" #autofocus />
                                        <div *ngIf="areaForm.controls['PinCode']?.errors?.['required'] && submitted"
                                            class="text-danger">
                                            PinCode is required.
                                        </div>
                                        <ng-container *ngFor="let error of validationErrors">
                                            <div *ngIf="error.toLowerCase().includes('pin code')" class="text-danger">
                                                {{ error }}</div>
                                        </ng-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Area Name</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Area Name"
                                            (input)="onInputChange()" formControlName="AreaName">
                                        <div *ngIf="areaForm.controls['AreaName']?.errors?.['required'] && submitted"
                                            class="text-danger">
                                            Area name is required.
                                        </div>
                                        <ng-container *ngFor="let error of validationErrors">
                                            <div *ngIf="error.toLowerCase().includes('area name')" class="text-danger">
                                                {{ error }}</div>
                                        </ng-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>
                                        <select class="form-select" formControlName="cityId" (input)="onInputChange()">
                                            <option value="null">-- Select City --</option>
                                            <option *ngFor="let city of cities" [ngValue]="city.cityId">
                                                {{ city.cityName }}
                                            </option>
                                        </select>
                                        <div *ngIf="areaForm.controls['cityId']?.errors?.['required'] && submitted"
                                            class="text-danger">
                                            City is required.
                                        </div>
                                        <ng-container *ngFor="let error of validationErrors">
                                            <div *ngIf="error.toLowerCase().includes('city')" class="text-danger">{{
                                                error }}</div>
                                        </ng-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{{ isEditModal ? 'Update' : 'Save' }}</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        (click)="closeModal()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>