<app-sliderbar></app-sliderbar>


<div class="container p-3" style="max-width: 96%;margin-left: 60px;">

    <!-- Header with Add Button -->
    <div class="d-flex justify-content-between align-items-center pb-3">
        <h5>Test Approval List</h5>
    </div>

    <!-- search table -->
    <div class="border border-dark rounded-2 my-3 p-3">
        <div class="row g-4">

            <!-- Sample Register ID -->
            <div class="col-md-4 col-sm-6">
                <div class="d-flex align-items-center gap-2">
                    <label class="form-label mb-0" style="min-width: 150px; white-space: nowrap;">SampleRegister
                        Id</label>
                    <input type="number" [(ngModel)]="searchCriteria.id" class="form-control"
                        placeholder="Enter SampleRegister Id">
                </div>
            </div>

            <!-- Sample Register Name -->
            <div class="col-md-4 col-sm-6">
                <div class="d-flex align-items-center gap-2">
                    <label class="form-label mb-0" style="min-width: 150px; white-space: nowrap;">Middle
                        Name</label>
                    <input type="text" [(ngModel)]="searchCriteria.name" class="form-control"
                        placeholder="Enter Middle Name">
                </div>
            </div>

            <!-- Phonenumber -->
            <div class="col-md-4 col-sm-6">
                <div class="d-flex align-items-center gap-2">
                    <label class="form-label mb-0" style="min-width: 150px;">PhoneNumber</label>
                    <input type="number" class="form-control" placeholder="Enter PhoneNumber"
                        [(ngModel)]="searchCriteria.code">
                </div>
            </div>

        </div>

        <!-- Button Row -->
        <div class="row mt-3">
            <div class="col d-flex justify-content-end gap-2">
                <button class="btn btn-primary" (click)="getSampleregister()">Search</button>
                <button class="btn btn-danger" (click)="clearSearch()">Clear</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal"  tabindex="-1" #myModal>
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1050px;">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Test Approval Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="Close" (click)="closeModal()"></button>
            </div>

            <form [formGroup]="testresultForm" (ngSubmit)="onSubmit()">
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="container mt-3" *ngIf="selectedSample">

                        <!-- Sample Info -->
                        <div class="card p-2 mb-3 shadow-sm">
                            <div class="d-flex flex-wrap gap-1 justify-content-center">
                                <span class="me-3" data-bs-toggle="tooltip" title="SampleRegister Id">🔘 {{
                                    selectedSample.sampleRegisterId }}</span>
                                <span class="me-3 text-break">
                                    <strong>{{ selectedSample.title }} {{ selectedSample.firstName }} {{
                                        selectedSample.middleName }} -
                                        {{ selectedSample.gender }} - {{ selectedSample.age }} Yrs</strong>
                                </span>
                                <span class="me-3" data-toggle="tooltip" data-placement="bottom"
                                    title="Date of Birth">🎂 {{ selectedSample.dob }}</span>
                                <!-- <span class="me-3" data-bs-toggle="tooltip" title="B2B">📍 {{ selectedSample.b2BName
                                    }}</span> -->
                                <span class="me-3" data-bs-toggle="tooltip" title="Branch">🏥 {{
                                    selectedSample.branchName }}</span>
                                <span class="me-3">📱 {{ selectedSample.phoneNumber }}</span>
                                <span>📆 {{ selectedSample.date }}</span>
                            </div>
                        </div>

                        <!-- Test Results -->
                        <div class="card p-3 shadow-sm">
                            <h5 class="mb-3">Test Results</h5>

                            <ng-container *ngIf="selectedServices.length > 0; else noServices">
                                <div *ngFor="let serviceMapping of selectedServices" class="mb-4">
                                    <h6 class="text-primary">{{ serviceMapping.serviceName }}</h6>

                                    <div class="table-responsive">
                                        <table class="table" style="table-layout: fixed; width: 100%;">
                                            <thead class="table-light">
                                                <tr>
                                                    <th style="width: 40%;">Test Name</th>
                                                    <th style="width: 40%;">Test Result</th>
                                                    <th class="text-center" style="width: 20%;">Validation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let test of serviceMapping.tests; let i = index">
                                                    <td>{{ test.testName }}</td>
                                                    <td>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="test.resultValue" formControlName="resultValue"
                                                            name="testResult_{{ serviceMapping.serviceId }}_{{ i }}"
                                                            placeholder="Enter Test Result..." style="width: 100%;">
                                                    </td>
                                                    <td class="text-center">
                                                        <div
                                                            class="form-check form-switch d-flex justify-content-center">
                                                            <input class="form-check-input" type="checkbox"
                                                                [(ngModel)]="test.validationStatus"
                                                                   formControlName="validationStatus">
                                                            {{ test.validationStatus ? 'A' : 'V' }}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-template #noServices>
                                <p class="text-center text-danger mt-3">No services found for this sample.</p>
                            </ng-template>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

<div class="container my-3 p-3" style="max-width: 96%;margin-left: 60px;">
    <div class="border border-dark rounded-2" *ngIf="searchClick">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-center"
                *ngIf="sampleRegisterList.length > 0; else noData">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>SamplRegister Id</th>
                        <th>Patient Name</th>
                        <th>PDF</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sampleRegister of sampleRegisterList; let i = index">
                        <td>{{ i + 1}}</td>
                        <td><a href="#" (click)="openModal(sampleRegister.sampleRegisterId,$event)"
                                data-bs-toggle="myModal" data-bs-target="#myModal">{{
                                sampleRegister.sampleRegisterId}}
                            </a>
                        </td>
                        <td>{{ sampleRegister.title}} {{sampleRegister.firstName}} {{ sampleRegister.middleName}}
                            {{sampleRegister.lastName}}
                        </td>
                        <td>
                            <button class="btn">
                            <i class="fa-solid fa-file-pdf"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ng-template #noData>
        <div class="text-center text-danger fw-bold p-3" style="background-color: #f1f1f1">No data found.</div>
    </ng-template>
</div>