<app-sliderbar></app-sliderbar>


<div class="container p-3" style="max-width: 96%;">

    <!-- Header with Add Button -->
    <div class="d-flex justify-content-between align-items-center pb-3">
        <h5>Sample register</h5>
        <button class="btn btn-primary btn-sm" data-bs-target="#myModal" (click)="openModal()">ADD</button>
    </div>

    <!-- search table -->
    <div class="border border-dark rounded-2 my-3 p-3">
        <div class="row g-4">

            <!-- Sample Register ID -->
            <div class="col-md-4 col-sm-6">
                <div class="d-flex align-items-center gap-2">
                    <label class="form-label mb-0" style="min-width: 150px; white-space: nowrap;">SampleRegister
                        Id</label>
                    <input type="number" [(ngModel)]="searchCriteria.id" class="form-control"
                        placeholder="Enter SampleRegister Id">
                </div>
            </div>

            <!-- Sample Register Name -->
            <div class="col-md-4 col-sm-6">
                <div class="d-flex align-items-center gap-2">
                    <label class="form-label mb-0" style="min-width: 150px; white-space: nowrap;">Middle
                        Name</label>
                    <input type="text" [(ngModel)]="searchCriteria.name" class="form-control"
                        placeholder="Enter Middle Name">
                </div>
            </div>

            <!-- Status -->
            <div class="col-md-4 col-sm-6">
                <div class="d-flex align-items-center gap-2">
                    <label class="form-label mb-0" style="min-width: 150px;">Phone No.</label>
                    <input type="number" class="form-control" placeholder="Enter Mobile No." [(ngModel)]="searchCriteria.code">
                    <!-- <select class="form-select" [(ngModel)]="searchCriteria.isActive">
                        <option [ngValue]="null">All</option>
                        <option [ngValue]="true">Active</option>
                        <option [ngValue]="false">Inactive</option>
                    </select> -->
                </div>
            </div>

        </div>

        <!-- Button Row -->
        <div class="row mt-3">
            <div class="col d-flex justify-content-end gap-2">
                <button class="btn btn-primary" (click)="getSampleRegister()">Search</button>
                <button class="btn btn-danger" (click)="clearSearch()">Clear</button>
            </div>
        </div>

    </div>
</div>


<!-- Add/Edit Sample Register Modal -->
<div class="modal fade" id="myModal" #myModal tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ isEditModal ? 'Edit' : 'Add' }}</h5>
                <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
            </div>
            <form [formGroup]="sampleRegisterForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="row">
                        <!-- Left Side: Sample Register Form -->
                        <div class="col-md-8">
                            <!-- <form [formGroup]="sampleRegisterForm"> -->
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="id">Sample Register ID</label>
                                            <input type="text" class="form-control" id="SampleRegisterId"
                                                formControlName="sampleRegisterId" readonly>
                                        </td>
                                        <td>
                                            <label for="date">Date</label>
                                            <input type="date" class="form-control" formControlName="date" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="name">Registration By</label>
                                            <input type="text" class="form-control" formControlName="regBy" readonly>
                                        </td>

                                        <td>
                                            <label for="branch">Branch</label>
                                            <select class="form-select" id="branch" formControlName="branchId"
                                                #autofocus (change)="onBranchChange($event)" (input)="onInputChange()">
                                                <option *ngFor="let branch of branches" [value]="branch.branchId">
                                                    {{ branch.branchName }}
                                                </option>
                                            </select>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="b2bSwitch" class="form-label me-2">B2B</label>
                                            <div class="d-flex align-items-center">
                                                <!-- B2B switch -->
                                                <div class="form-check form-switch me-2">
                                                    <input class="form-check-input" type="checkbox"
                                                        formControlName="isB2B" id="b2bSwitch" />
                                                </div>

                                                <!-- B2B dropdown, visible only if isB2B is true -->
                                                <!-- <div *ngIf="sampleRegisterForm.get('isB2B')?.value" class="flex-grow-1"> -->
                                                <select *ngIf="sampleRegisterForm.get('isB2B')?.value"
                                                    class="form-select" id="b2BId" formControlName="b2BId">
                                                    <!-- <option value="">-- Select B2B --</option> -->
                                                    <option *ngFor="let b2b of b2bs" [value]="b2b.b2BId">{{
                                                        b2b.b2BName }}</option>
                                                </select>

                                                <!-- Input if isb2b is false -->
                                                <!-- <input *ngIf="!sampleRegisterForm.get('isB2B')?.value" type="text"
                                                    class="form-control" id="b2bInput" formControlName="b2bId"
                                                    placeholder="Select B2B" /> -->
                                                <select *ngIf="!sampleRegisterForm.get('isB2B')?.value" type="text"
                                                    class="form-control" id="b2bInput" formControlName="b2BId">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <label for="phone">Phone Number</label>
                                            <input type="text" class="form-control" formControlName="phoneNumber"
                                                placeholder="Phone Number" (input)="onInputChange()">
                                            <small
                                                *ngIf="sampleRegisterForm.controls['phoneNumber']?.errors?.['required'] && submitted"
                                                class="text-danger">
                                                Phone Number is required.
                                            </small>
                                            <ng-container *ngFor="let error of validationErrors">
                                                <small *ngIf="error.toLowerCase().includes('phone')"
                                                    class="text-danger">
                                                    {{ error }}
                                                </small>
                                            </ng-container>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="title">Title</label>
                                            <select class="form-select" id="title" formControlName="title"
                                                (input)="onInputChange()">
                                                <option>Mr.</option>
                                                <option>Ms.</option>
                                                <option>Dr.</option>
                                                <option>Miss.</option>
                                            </select>
                                            <small
                                                *ngIf="sampleRegisterForm.controls['title']?.errors?.['required'] && submitted"
                                                class="text-danger">
                                                Title is required.
                                            </small>
                                            <ng-container *ngFor="let error of validationErrors">
                                                <small *ngIf="error.toLowerCase().includes('title is required')"
                                                    class="text-danger">
                                                    {{ error }}
                                                </small>
                                            </ng-container>
                                        </td>
                                        <td>
                                            <label for="firstName">First Name</label>
                                            <input type="text" class="form-control" placeholder="First Name"
                                                formControlName="firstName" (input)="onInputChange()">
                                            <small
                                                *ngIf="sampleRegisterForm.controls['firstName']?.errors?.['required'] && submitted"
                                                class="text-danger">
                                                First Name is required.
                                            </small>
                                            <ng-container *ngFor="let error of validationErrors">
                                                <small *ngIf="error.toLowerCase().includes('firstname')"
                                                    class="text-danger">
                                                    {{ error }}
                                                </small>
                                            </ng-container>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="middleName">Middle Name</label>
                                            <input type="text" class="form-control" placeholder="Middle Name"
                                                formControlName="middleName" (input)="onInputChange()">
                                            <small
                                                *ngIf="sampleRegisterForm.controls['middleName']?.errors?.['required'] && submitted"
                                                class="text-danger">
                                                Middle Name is required.
                                            </small>
                                            <ng-container *ngFor="let error of validationErrors">
                                                <small *ngIf="error.toLowerCase().includes('middlename')"
                                                    class="text-danger">
                                                    {{ error }}
                                                </small>
                                            </ng-container>
                                        </td>
                                        <td>
                                            <label for="lastName">Last Name</label>
                                            <input type="text" class="form-control" formControlName="lastName"
                                                placeholder="Last Name" (input)="onInputChange()">
                                            <small
                                                *ngIf="sampleRegisterForm.controls['lastName']?.errors?.['required'] && submitted"
                                                class="text-danger">
                                                Last Name is required.
                                            </small>
                                            <ng-container *ngFor="let error of validationErrors">
                                                <small *ngIf="error.toLowerCase().includes('lastname')"
                                                    class="text-danger">
                                                    {{ error }}
                                                </small>
                                            </ng-container>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="dob">Date of Birth (DOB)</label>
                                            <input type="date" class="form-control" id="dob" formControlName="dob"
                                                (input)="onInputChange()">
                                            <small
                                                *ngIf="sampleRegisterForm.controls['dob']?.errors?.['required'] && submitted"
                                                class="text-danger">
                                                DOB is required.
                                            </small>
                                            <ng-container *ngFor="let error of validationErrors">
                                                <small *ngIf="error.toLowerCase().includes('date of birth')"
                                                    class="text-danger">
                                                    {{ error }}
                                                </small>
                                            </ng-container>
                                        </td>
                                        <td>
                                            <label for="age">Age:</label>
                                            <input type="number" id="age" formControlName="age" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="gender">Gender</label>
                                            <select class="form-select" id="gender" formControlName="gender"
                                                (input)="onInputChange()">
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Other</option>
                                            </select>
                                            <small
                                                *ngIf="sampleRegisterForm.controls['gender']?.errors?.['required'] && submitted"
                                                class="text-danger">
                                                Gender is required.
                                            </small>
                                            <ng-container *ngFor="let error of validationErrors">
                                                <small *ngIf="error.toLowerCase().includes('gender is required')"
                                                    class="text-danger">
                                                    {{ error }}
                                                </small>
                                            </ng-container>
                                        </td>
                                        <td>
                                            <label for="email">Email ID</label>
                                            <input type="email" class="form-control" formControlName="email"
                                                placeholder="abc@gmail.com" (input)="onInputChange()">
                                            <ng-container *ngFor="let error of validationErrors">
                                                <small *ngIf="error.toLowerCase().includes('email')"
                                                    class="text-danger">
                                                    {{ error }}
                                                </small>
                                            </ng-container>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="city">City</label>
                                            <select class="form-select" id="city" formControlName="cityId"
                                                (change)="onCityChange($event)" (input)="onInputChange()">
                                                <option *ngFor="let city of cities" [value]="city.cityId">{{
                                                    city.cityName }}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label for="area">Area</label>
                                            <select class="form-select" id="area" formControlName="areaId"
                                                (change)="onAreaChange($event)" (input)="onInputChange()">
                                                <option *ngFor="let area of areas" [value]="area.areaId">{{
                                                    area.areaName }}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="address">Address</label>
                                            <textarea class="form-control" formControlName="address"></textarea>
                                            <!-- <small
                                        *ngIf="sampleRegisterForm.controls['address']?.errors?.['required'] && submitted"
                                        class="text-danger">
                                        Address is required.
                                    </small>
                                    <ng-container *ngFor="let error of validationErrors">
                                        <small *ngIf="error.toLowerCase().includes('address')"
                                            class="text-danger">
                                            {{ error }}
                                        </small>
                                    </ng-container> -->
                                        </td>
                                        <td>
                                            <label for="doctor">Reference By</label>
                                            <select class="form-select" id="doctor" formControlName="doctorId"
                                                (change)="onDoctorChange($event)" (input)="onInputChange()">
                                                <option *ngFor="let doctor of doctors" [value]="doctor.doctorId">{{
                                                    doctor.doctorName }}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <!-- </form> -->
                        </div>
                        <!-- Right Side: Services & Payment -->
                        <div class="col-md-4">
                            <!-- <form [formGroup]="sampleRegisterForm" (ngSubmit)="onSubmit()"> -->
                            <!-- Service Selection -->
                            <div class="mb-3">
                                <label>Service</label>
                                <div class="d-flex">
                                    <select class="form-select" formControlName="serviceId"
                                        (change)="onServiceChange($event)" (input)="onInputChange()">
                                        <option *ngFor="let service of services" [ngValue]="service.serviceId">{{
                                            service.serviceName }}</option>
                                    </select>
                                    <button type="button" class="btn btn-success ms-2" (click)="addService()">
                                        +
                                    </button>
                                </div>
                            </div>

                            <!-- Service Table -->
                            <div class="table-responsive">
                                <table class="table table-bordered mt-3">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Service Code</th>
                                            <th>Service Name</th>
                                            <th>Amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let service of selectedServices; let i = index; ">
                                            <td>{{ service.serviceId }}</td>
                                            <td>{{ service.serviceCode }}</td>
                                            <td>{{ service.serviceName }}</td>
                                            <td>{{ isB2B ? service.b2BAmount : service.b2CAmount }} </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm"
                                                    (click)="removeService(service)"><i
                                                        class="fa-solid fa-trash-can"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Total Amount -->
                            <div class="text-end fw-bold">Total: {{ sampleRegisterForm.value.totalAmount }}</div>

                            <!-- Payment Section -->
                            <div class="mb-3">
                                <label for="payment">Payment Method</label>
                                <select class="form-select" formControlName="paymentId"
                                    (change)="onPaymentModeChange($event)" id="payment" (input)="onInputChange()">
                                    <option *ngFor="let payment of payments" [value]="payment.paymentId">
                                        {{ payment?.paymentName }}
                                    </option>
                                </select>
                                <!-- <small
                                    *ngIf="sampleRegisterForm.controls['paymentId']?.errors?.['required'] && submitted"
                                    class="text-danger">
                                    Payment is required.
                                </small> -->
                            </div>

                            <!-- Show Amount Input Field Only If Payment Mode is 'Cash' -->
                            <div class="mb-3" *ngIf="selectedPayment === 'Cash'">
                                <input type="number" class="form-control" formControlName="Amount"
                                    placeholder="Enter amount" (input)="onInputChange()">
                                <!-- <div *ngIf="sampleRegisterForm.get('Amount')?.invalid && submitted"
                                    class="text-danger small">
                                    <span *ngIf="sampleRegisterForm.get('Amount')?.hasError('required')">Amount
                                        is required.
                                    </span>
                                </div> -->
                                <ng-container *ngFor="let error of validationErrors">
                                    <small *ngIf="error.toLowerCase().includes('amount is required')"
                                        class="text-danger">
                                        {{ error }}
                                    </small>
                                </ng-container>
                            </div>

                            <!-- Show Additional Fields for Cheque -->
                            <div *ngIf="selectedPayment === 'Cheque'">
                                <div class="mb-3">
                                    <input type="number" class="form-control" formControlName="Amount"
                                        placeholder="Enter amount" (input)="onInputChange()">
                                    <div *ngIf="sampleRegisterForm.get('Amount')?.invalid && submitted"
                                        class="text-danger small">
                                        <span *ngIf="sampleRegisterForm.get('Amount')?.hasError('required')">Amount
                                            is required.</span>
                                    </div>
                                    <ng-container *ngFor="let error of validationErrors">
                                        <small *ngIf="error.toLowerCase().includes('amount')" class="text-danger">
                                            {{ error }}
                                        </small>
                                    </ng-container>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" formControlName="ChequeNo"
                                        placeholder="Cheque Number" (input)="onInputChange()">
                                    <div *ngIf="sampleRegisterForm.get('ChequeNo')?.invalid && submitted"
                                        class="text-danger small">
                                        <span *ngIf="sampleRegisterForm.get('ChequeNo')?.hasError('required')">Cheque
                                            No is required.
                                        </span>
                                    </div>
                                    <ng-container *ngFor="let error of validationErrors">
                                        <small *ngIf="error.toLowerCase().includes('chequeno')" class="text-danger">
                                            {{ error }}
                                        </small>
                                    </ng-container>
                                </div>
                                <div class="mb-3">
                                    <input type="date" class="form-control" placeholder="Cheque Date"
                                        formControlName="ChequeDate" (input)="onInputChange()">
                                    <div *ngIf="sampleRegisterForm.get('ChequeDate')?.invalid && submitted"
                                        class="text-danger small">
                                        <span *ngIf="sampleRegisterForm.get('ChequeDate')?.hasError('required')">Cheque
                                            Date is required.
                                        </span>
                                    </div>
                                    <ng-container *ngFor="let error of validationErrors">
                                        <small *ngIf="error.toLowerCase().includes('chequedate')" class="text-danger">
                                            {{ error }}
                                        </small>
                                    </ng-container>
                                </div>
                            </div>

                            <!-- Show Additional Field for online  -->
                            <div *ngIf="selectedPayment === 'Scanner' || selectedPayment === 'Online'">
                                <div class="mb-3">
                                    <input type="number" class="form-control" formControlName="Amount"
                                        placeholder="Enter amount" (input)="onInputChange()">
                                    <div *ngIf="sampleRegisterForm.get('Amount')?.invalid && submitted"
                                        class="text-danger small">
                                        <span *ngIf="sampleRegisterForm.get('Amount')?.hasError('required')">Amount
                                            is required.
                                        </span>
                                    </div>
                                    <ng-container *ngFor="let error of validationErrors">
                                        <small *ngIf="error.toLowerCase().includes('amount')" class="text-danger">
                                            {{ error }}
                                        </small>
                                    </ng-container>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" formControlName="TransactionId"
                                        placeholder="Enter TransactionId" (input)="onInputChange()">
                                    <div *ngIf="sampleRegisterForm.get('TransactionId')?.invalid && submitted"
                                        class="text-danger small">
                                        <span
                                            *ngIf="sampleRegisterForm.get('TransactionId')?.hasError('required')">Transaction
                                            ID is required.
                                        </span>
                                    </div>
                                    <ng-container *ngFor="let error of validationErrors">
                                        <small *ngIf="error.toLowerCase().includes('transactionid')"
                                            class="text-danger">
                                            {{ error }}
                                        </small>
                                    </ng-container>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">
                                {{ isEditModal ? 'Update' : 'Save' }}
                            </button>
                            <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Sample Register List Table -->
<div class="container my-3 p-3" style="max-width: 96%;">
    <div class="border border-dark rounded-2" *ngIf="searchClick">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-center"
                *ngIf="sampleRegisterList.length > 0; else noData">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Sample Register ID</th>
                        <th>Patient Name</th>
                        <!-- <th>Status</th> -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sampleRegister of sampleRegisterList; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ sampleRegister.sampleRegisterId }}</td>
                        <td>{{sampleRegister.title}} {{ sampleRegister.firstName }} {{sampleRegister.middleName}} {{
                            sampleRegister.lastName}}</td>
                        <!-- <td>{{ sampleRegister.isActive ? 'Active' : 'Inactive' }}</td> -->
                        <td>
                            <button class="btn btn-primary btn-sm" (click)="onEdit(sampleRegister.sampleRegisterId)">
                                &#9998;
                            </button>

                            <!-- Delete Button: Shown when the sample register is active -->
                            <!-- <button *ngIf="sampleRegister.isActive" class="btn btn-danger btn-sm"
                                (click)="onDelete(sampleRegister.sampleRegisterId)">
                                <i class="fa-solid fa-trash-can"></i>
                            </button> -->

                            <!-- Check Button: Shown when the sample register is inactive -->
                            <!-- <button *ngIf="!sampleRegister.isActive" class="btn btn-success btn-sm"
                                (click)="onDelete(sampleRegister.sampleRegisterId)">
                                <i class="fa-solid fa-check"></i>
                            </button> -->
                            <!-- </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ng-template #noData>
        <div class="text-center text-danger fw-bold p-3" style="background-color: #f1f1f1">No data found.</div>
    </ng-template>
</div>